*{
    box-sizing: border-box;
}
.home{
    background-image: url(../images/h_img.jpg);
    text-align: center;
    color:white;
}
.about{
    text-align: center;
}
.services{
    text-align: center;
    background-image: url(../images/s_image.jpg);
    color: white;
}
.title{
    text-align:center;
}
#hidden-p{
    text-align: center;
}