*{
    box-sizing: border-box;
}
.home{
    background-image: url(../images/h_img.jpg);
    text-align: center;
    color:white;
    height: 70%;
    width: 100%;
    /* padding-left: 40%;
    padding-right:40%; */
    padding-top: 12%;
    padding-bottom:10%;
    background-size:cover;

}
.about{
    text-align: center;
}
.services{
    text-align: center;
    background-image: url(../images/s_image.jpg);
    color: white;
}
h2{
    text-align: center;
}
.title{
    text-align:center;
}
#hidden-p{
    text-align: center;
}
.contacts{
    background-image: url(../images/c_image.jpg);
    text-align: center;
    /* background:transparent; */
}
input[type=text],input[type=email], textarea{
    background:transparent;
    color: white;
    
}
.text2 textarea{
    background:transparent;
    color: white;
}
.port1,.port2,.port3,.port4,.port5,.port6,.port7,.port8{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0.0em;
    display: none;
    color: black;
    font-size: 20px;
    padding-top: 30%;
    border:3px ,solid green;
    cursor: pointer;
}